@import "tailwindcss";

html,
body {
  height: 100%;
}

body {
  background: linear-gradient(
    90deg,
    #020617 0%,
    #020617 38%,
    #0f172a 100%
  );
  color: #e5e7eb;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}
